<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/Speedster.png" type="image/x-icon">
    <link rel="stylesheet" href="../styles/loginPage.css">
    <title>Signin & Sign up</title>
</head>

<body>
    <div class="wrapper">
        <div class="form-container sign-up">
            <div class="form">
                <h2>sign up</h2>
                <div class="form-group">
                    <input id="sign-up-username" type="text" required>
                    <i class="fas fa-user"></i>
                    <label for="">username</label>
                </div>
                <div class="form-group">
                    <input id="sign-up-email" type="email" required>
                    <i class="fas fa-at"></i>
                    <label for="">email</label>
                </div>
                <div class="form-group">
                    <input id="sign-up-password" type="password" required>
                    <i class="fas fa-lock"></i>
                    <label for="">password</label>
                </div>
                <div class="form-group otp-field">
                    <input id="sign-up-otp" type="number" required>
                    <i class="fas fa-lock"></i>
                    <label for="">OTP</label>
                    <button id="send-otp" type="submit" class="btn">send-otp</button>
                </div>
                <!-- <div class="form-group">
                    
                </div> -->
                <button id="register_btn" type="submit" class="btn">sign up</button>
                <div class="link">
                    <p>You already have an account?<a href="#" class="signin-link"> sign in</a></p>
                </div>
                <div style="justify-content: center; text-align: center;" id="invalid1" class="invalid1-invisible">
                    <span id="invalid1-text"></span>
                  </div>
                </div>
        </div>
        <div class="form-container sign-in">
            <div class="form">
                <h2>login with</h2>
                <div class="form-group otp-field" style="justify-content: center; gap: 30px;">
                    <img id="facebook-login" type="submit" src="../images/facebook.png" alt="facebook">

                    <img id="google-login" type="submit" src="../images/google.png" alt="google">
                </div>
                <h2>Or</h2>
                
                
                <div class="form-group">
                    <input id="log-in-username" type="text" required>
                    <i class="fas fa-user"></i>
                    <label for="">username or email</label>
                </div>
                <div class="form-group">
                    <input id="log-in-password" type="password" required>
                    <i class="fas fa-lock"></i>
                    <label for="">password</label>
                </div>
                <!-- <div class="forgot-pass">
                    <a href="#">forgot password?</a>
                </div> -->
                <button id="log-in-btn" type="submit" class="btn">login</button>
                <div class="link">
                    <p>Don't have an account?<a href="#" class="signup-link"> sign up</a></p>
                </div>
                <div style="justify-content: center; text-align: center; bottom: -200px;" id="invalid" class="invalid-invisible">
                    <span id="invalid-text"></span>
                  </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/9e5ba2e3f5.js" crossorigin="anonymous"></script>
    <script src="../script/loginPage.js"></script>
</body>

</html>